<html>

<section class="page">

  <h1>Formulario</h1>

  <form [formGroup]="formgroup">


    <div class="input">
      <p>Nome</p>
      <input formControlName="name" type="text" name="" id="">
    </div>

    <div class="input">
      <p>Senha</p>
      <input formControlName="password" [placeholder]="'Senha atual'" [type]="'password'" type="text" name="" id="">
    </div>

    <div class="input">
      <p>Endereço</p>
      <input type="text">
    </div>


    <div class="result">
      <button (click)="finish()">Atualizar</button>
    </div>

  </form>
</section>

</html>